@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
}

/* light grey: BCBBB7

mint: 46FFBC

yellow: E3FFA8

black: 1F1F1F */