@import "font.css";
*{
    font-family: 'Poppins',sans-serif;
}
body{
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
    background-size: cover;
    background-position: center;
    height:495px;
    width: 99%;
}
nav{
    width: 90%;
    height: 83px;
    position:absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #1f1f1f72;
    margin:20px ;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.346);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.693);
    backdrop-filter: blur(10px);
}
nav .heading{
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 25px;
    color: #E3FFA8;
}

nav .links{
    display: flex;
}

nav a{
    text-decoration: none;
    color: #E3FFA8;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
    box-shadow: inset 0px -10px 0px rgba(white, 0.5);
    transition: all 0.4s ease, transform 0.2s ease;
    padding: 8px 12px;
    transform: translateY(0px); 
}
nav a:hover{
    border-radius: 5px;
    background-color: #333333;
    color: #46FFBC;
}
/* .call-logs-container{
    display:flex;
    padding-top: 190px;
    justify-content: space-between;
} */
.container{
    position: absolute;
    top:30%;
    left: 3%;
    color: #ffffff;
    outline: none;
    border: none;
    
}
.container h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 10px;
    padding-bottom: 15px;
    
}
.container li{
    font-size: 30px;
    width: 800px;
    margin: 12px;
}
