@import "font.css";
*{
    font-family: 'Poppins',sans-serif;
}
body{
    background: linear-gradient(to top, #aa4b6b, #6b6b83, #3b8d99);
    background-size: cover;
    background-position: center;
    height:495px;
    width: 95%;
}
nav{
    width: 90%;
    height: 83px;
    position:absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #1f1f1f72;
    margin:12px ;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.346);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.693);
    backdrop-filter: blur(10px);
}
nav .heading{
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 25px;
    color: #E3FFA8;
}

nav .links{
    display: flex;
}

nav a{
    text-decoration: none;
    color: #E3FFA8;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
    box-shadow: inset 0px -10px 0px rgba(white, 0.5);
    transition: all 0.4s ease, transform 0.2s ease;
    padding: 8px 12px;
    transform: translateY(0px); 
}
nav a:hover{
    border-radius: 5px;
    background-color: #333333;
    color: #46FFBC;
}
/* .add-calls-container{
    height: 120%;
} */
/*form*/
form{
    height: 270px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 58%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px;
}
form *{
    color: #ffffff;
    outline: none;
    border: none;
}
form h3{
    font-size: 25px;
    font-weight: 500;
    line-height: 0;
    text-align: center;
}
label{
    display: block;
    margin-top: 10px;
    font-size: 19px;
    font-weight: 500;
}
select, option, input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #080710;
}
option{
    color: #080710;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0 12px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.line{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
p{
    margin-top: 10px;
    position: absolute;
    width: 96.5%;
    top: 91%;
    font-size: 35px;
    color: #e5e5e5;
    text-align: center; 
}